---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/items/MLU0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Item with id MLU0 not found","error":"not_found","status":404,"cause":[]}'
  recorded_at: Mon, 01 Oct 2018 20:50:33 GMT
recorded_with: VCR 4.0.0
