---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/sites/MLU-1/search?seller_id=95592600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"This host is not serving site MLU-1","error":"bad_request","status":400,"cause":[]}'
  recorded_at: Thu, 25 Oct 2018 22:30:27 GMT
recorded_with: VCR 4.0.0
